.box{
    width: 1200px;
    margin: 50px auto;
}
.box-menu{
    background-image: url(../rasm/Screenshot_1.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 30px;
    margin: 200px 0;
    transition: all 0.1s ease;
}
.box-item a{
    color: gray;
    margin: 300;
    text-decoration: none;
    text-align: center;
}
.box-item{
    width: 80px;
    height: 40px;
    float: left;
    margin-top: 20px;
}
.box-menu:nth-child(2){
    background-position: -190px ;
}
.box-menu:nth-child(3){
    background-position: -380px;
}
.box-menu:nth-child(4){
    background-position: -570px;
}
.box-menu:nth-child(5){
    background-position: -760px;
}
.box-menu:nth-child(6){
    background-position: -850px;
}
.box-menu:nth-child(1):hover{
    background-position: -190px;
}
.box-menu:nth-child(2):hover{
    background-position: left;
}
.box-menu:nth-child(3):hover{
    background-position: -760px;
}
.box-menu:nth-child(4):hover{
    background-position: left;
}
.box-menu:nth-child(5):hover{
    background-position: -380px;
}